<div class="container" ng-controller="gameCtrl as game">
    <div class="row" ng-if="activeGame">
        <h1>Game #{{id}}</h1>
        <div class="col-md-6">
            <board name="cpu"
                func="game.move(row, col)"
                data="cpuBoard"
                options="cBoard">
            </board>
        </div>
        <div class="col-md-6">
            <board name="player"
                func="game.addCoord(row, col)"
                data="playerBoard"
                options="pBoard">
            </board>
        </div>
    </div>

    <div class="row">
        <div class="btn-group" ng-if="activeGame">
            <button class="btn btn-danger"
                ng-click="game.endGame()">
                Surrender!
            </button>
            <button class="btn btn-success"
                ng-click="game.setBoard()"
                ng-disabled="game.gameSet">
                Set Board
            </button>
            <button class="btn btn-warning"
                ng-click="game.requestCpuMove()"
                ng-disabled="!pBoard.disabled && game.error">
                Resend CPU move request
            </button>
        </div>
        <div class="btn-group" ng-if="!activeGame">
            <button class="btn btn-success"
                ng-click="game.newGame()">
                New Game!
            </button>
        </div>
    </div>
</div>
