.coords {
    background-color: grey;
    border: 1px solid black;
    height: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.box {
    background-color: blue;
    border: 1px solid black;
    height: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box[disabled="disabled"] {
    cursor: not-allowed;
    pointer-events: none;
}

.box.box-ship {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/assets/img/ship.gif);
}
.box.box-hit {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/assets/img/hit.png);
}
.box.box-miss {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/assets/img/miss.png);
}
